<h2>Регистрация</h2>
<form action="/register" method="post">
    <input type="email" name="email" placeholder="e-mail">
    <input type="text" name="firstName" placeholder="Имя">
    <input type="text" name="lastName" placeholder="Фамилия">
    <input type="password" name="password" placeholder="Пароль">
    <input type="password" name="repassword" placeholder="Повторите пароль">
    <input type="submit" value="Зарегистрироваться">
</form>